*{
    margin: 0;
    padding: 0;
}

.body-style{
    background-color: rgb(249, 236, 229);
    margin: 3rem 5% 0 5%;
    font-family: 'Tsukimi Rounded', sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero h1{
    font-size: 3rem;
    /* font-family: 'Tsukimi Rounded', sans-serif; */
    /* font-family: 'Yeseva One'; */
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-weight: 500;
}

.hero p{
    font-size: 1rem;
}

h2{
    font-size: 2rem;
    font-family: 'Yeseva One';
    align-self: end;
}

header{
    background-image: url(img/header.jpeg);
    width: 90vw;
    height: 30vh;
    background-size: cover;
    background-position: center;
    max-height: 100%;
}

header img{
    position: relative;
    display: block;
    margin: 5% auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    animation: leftToRight 4s linear;
    max-height: 100%;
    max-width: 50vw;
}

@keyframes leftToRight {
    0% {left: -100%;}
    15% {left: -75%;}
    30% {left: -50%;}
    45% {left: -25%;}
    60% {left: 0%;}
    70% {left: 25%;}
    80% {left: 15%;}
    90% {left: 5%;}
    100%{left: 0%;}
}


nav{
    margin-top: 1rem;
    position: sticky;
    z-index: 100;
    top: 0;
}

nav ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(221, 220, 250);
    box-shadow:  2px 2px 5px 4px rgb(133, 147, 249); 
}

nav ul:hover{
    box-shadow: none;
    border: 2px solid rgba(215, 144, 253, 0.427);
}
nav li{
    display: inline-block;
}

.linknav{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
}

.linknav:hover{
    color:rgb(35, 14, 14);
}

.hero{
display: flex;
flex-direction: column;
background-image: url(img/hero.jpg);
background-size: cover;
background-position: 20% 30%;
padding: 1rem;
border-radius: 15px;
}

.hero:hover h2{
    animation: enhance 1.5s linear infinite;
}

@keyframes enhance {
    0% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(.9); }
    100% { transform: scale(1); }
}

section{
    display: flex;
}

article{
    flex: 1;
    margin: 1rem 2rem;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}
  
.card-deck .card {
    flex: 1 0 100%;
    background-color: rgb(221, 220, 250);
}

.card-deck .card:hover{
    box-shadow:  2px 2px 5px 4px rgb(133, 147, 249);
}

.card-title{
font-weight: bold;
}
.card img{
    height: 35%;
    object-fit: cover;
}

.card-text{
    text-align: center;
}

.imgWomanAndFlowers,
video{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 2% auto;
    max-width: 100%;
    max-height: 100%;
    height: 40vh;
    object-fit: cover;
    position: relative;
}

.imgWomanAndFlowers img,
.imgWomanAndFlowers source{
    max-width: 100%;
    max-height: 100%;
    width:fit-content;
    align-self: center;
    position: absolute;
    top: 0;
}

#aboutUs h1{
    border-radius: 10px;
    margin-bottom: 0;
    padding-bottom: 1rem;
    background: radial-gradient(rgb(133, 147, 249) 2%, rgb(221, 220, 250));
}

.googleMap{
    background-color: rgba(221, 220, 250, 0.56);
    height: 100%;
    padding-top: 1.5%;
    padding-right: 5%;
}

iframe{
    float: left;
    margin: 1% 3% 1% 0;
    padding-right: 2%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background-color: rgb(221, 220, 250);
    height: 6rem;
    max-height: 60px;
    padding: 1rem;
    border: 1px solid white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer div{
    flex: 1;
}

footer img{
    width: 100%;
    max-width: 10vw;
    min-width: 120px;
    height: 4rem;
    max-height: 35px;
}